
<div class="form-container">
  <h2>Edit Profile</h2>
  <%= form_for(@profile) do |f| %>
    <%= csrf_meta_tags %>

    <div class="form-inputs">
      <div class="form-input-group">
        <%= f.label :name, class: "label-edit" %>
        <%= f.text_field :name, class: "input" %>
      </div>

      <div class="form-input-group">
        <%= f.label :bio, class: "label-edit" %>
        <%= f.text_area :bio, class: "input", rows: 3 %>
      </div>

      <div class="form-input-group">
        <%= f.label :roles, class: "label-edit" %>
        <%= f.text_field :roles, class: "input" %>
      </div>

      <div class="form-input-group">
        <%= f.label :price, class: "label-edit" %>
        <%= f.number_field :price, class: "input" %>
      </div>

      <div class="form-input-group">
        <%= f.label :age, class: "label-edit" %>
        <%= f.number_field :age, class: "input" %>
      </div>

      <div class="form-input-group">
        <%= f.label :phone_number, class: "label-edit" %>
        <%= f.text_field :phone_number, class: "input" %>
      </div>

      <div class="form-group">
        <label for="address" class="label-edit"><i class="fas fa-map-marker-alt"></i> Address</label>
        <%= f.text_field :address, class: 'input'%>
      </div>


    </div>

    <div class="form-actions">
      <%= f.submit 'Update Profile', class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
