<h1>Here are today's Profiles!</h1>

<h1><%= @profile.name %></h1>

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= @profile.name %></h5>
    <p><%= @profiles.bio %></p>
    <ul>
      <li><%= @profile.age%></li>
      <li><%= @profile.phone_number%></li>
      <li><%= @profile.email%></li>
      <li><%= @profile.address%></li>
    </ul>
    <a href="#" class="btn btn-primary"> Take a look!</a>
  </div>
</div>
