<h1><%= @profile.name %></h1>

<div>
  <img src="..." alt="...">
  <div>
    <p><%= @profile.bio %></p>
    <ul>
      <li><%= @profile.age%></li>
      <li><%= @profile.phone_number%></li>
      <li><%= @profile.email%></li>
      <li><%= @profile.address%></li>
    </ul>
    <a href="#" class="btn btn-primary"> Book me!</a>
  </div>
</div>
