<div class="flex justify-content space-between">
  <div class="container mt-3 flex justify-content center">
    <h1><%= @profile.name %></h1>
    <img class="card-img-top" src="<%= @profile.profile_picture_url %>" alt="profile-pic" style="width:20%; height: auto;">
    <div>
      <p><%= @profile.bio %></p>
      <ul>
        <li><%= @profile.age%></li>
        <li><%= @profile.phone_number%></li>
        <li><%= @profile.email%></li>
        <li><%= @profile.address%></li>
        <li><%= @profile.roles%></li>
      </ul>
    </div>
    <div class="offer-description">
      <h3>What I can offer:</h3>
      <p>This is just a container that should have a list with some icons of what
        can be offered by booking this person;
        for example: "You get a charismatic, funny person who isn't afraid of attention"
      </p>
    </div>
  </div>
  <div class="container mt-3 flex justify-content center">
    <div><h3>Summary:</h3></div>
    <div><p>Rental Date Selection</p></div>
    <div><button type="button" class="btn btn-danger">Reserve</button></div>
    <div><p>You won't be charged yet.</p></div>
    <div>
      <h5>Price x 1 day: Total</h5>
      <h5>Service Fee: Total</h5>
      <h5>Total:</h5>
    </div>
  </div>
</div>
